.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  
ion-button {
    margin: 10px 5px;
}

ion-card-subtitle {
    color: black;
}



